.mentor-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.mentor-card {
    flex: 0 0 calc(25% - 30px);
    margin: 15px;
    text-align: center;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mentor-name {
    color: black;
    font-size: 1.5rem;
    margin: 5px 0;
}

.mentor-university {
    font-size: 1rem;
    color: #666;
}

.message-button {
    background: transparent; 
    border: 2px solid transparent; 
    border-image: linear-gradient(90deg, #234EB0 3.66%, #9010B0 100%);
    border-image-slice: 1; 
    border-radius: 50px; 
    color: linear-gradient(to right, #ff5733, #ffcc33); 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  

.message-button .message-icon {
    margin-left: 10px; 
    font-size: 20px;
  }